.chartContainer{
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 0px 15px;
    padding-top: 1rem;
    background-color: white;
    @include flex(column, none, none, 1.5rem);
    > h1{
        color: #939393;
    }
    > section {
        padding: 2rem;
        > h2{
            text-align: center;
            padding-top: 1rem;
        }
    }
}

.pieChartComponent{
    width: 400px;
    margin: auto;
}